{
    "title" : "Cookie Cutter'",
    "window" : {
        "minimum-size" : [600, 400]
    },
    "path" : {
        "icon" : {
            "app" : "{{{CURRENT-DIRECTORY}}}/resources/icon/cookie.png"
        }
    } 
}