{
    "title" : "Cookie Cutter'",
    "path" : {
        "icon" : {
            "app" : "{{{CURRENT-DIRECTORY}}}/resources/icon/cookie.png"
        }
    },
    "gui" : {
        "window" : {
            "min-size" : [800, 600]
        } 
    }
}